/* Custom Style Sheet							*/
/* Interpreter Version: 1.1						*/
/* File Name:								*/
/* 	QPushButton.css							*/
/*									*/
/* File Description:							*/
/*	Styling for Buttons go in this file				*/
/*									*/
/* Version Notes:							*/
/*      Only one line comments are supported				*/
/*	Comments must have opening '/*' and closing '*/' 		*/
/*		characters - all on one line				*/
/*									*/
/*      Place images in ./style/images/					*/
/*      path to images is: url(%IMAGE%image.png)			*/
/*									*/
/*      If a file named 'Main.css' exists, it will be loaded first 	*/
/*	Files that contain the lowercase letter 'x' as the first 	*/
/*		letter in the name will be ignored when styles 		*/
/*		are being loaded					*/

QToolButton {
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 16px;
    min-height: 16px;
}
QToolButton:hover {
    background-color: %color_special2%;
    margin-top: -2px; /*animate the button*/
    margin-left: -2px;
}
QToolButton:pressed {
    background-color: %color_special2%;
    margin-top: 2px;
    margin-left: 2px;
}

QPushButton#NewPlaylistButton {
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 16px;
    min-height: 16px;
}
QPushButton:hover#NewPlaylistButton {
    background-color: %color_special2%;
    margin-top: -2px; /*animate the button*/
    margin-left: -2px;
}
QPushButton:pressed#NewPlaylistButton {
    background-color: %color_special2%;
    margin-top: 2px;
    margin-left: 2px;
}

QPushButton#SplitViewButton {
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 16px;
    min-height: 16px;
}
QPushButton:hover#SplitViewButton {
    background-color: %color_special2%;
    margin-top: -2px; /*animate the button*/
    margin-left: -2px;
}
QPushButton:pressed#SplitViewButton {
    background-color: %color_special2%;
    margin-top: 2px;
    margin-left: 2px;
}

QPushButton {
    border: 2px solid %theme_very_dark%;
    border-radius: 2px;

    background-color: %theme_button%;
    min-width: 16px;
    color: %text_dark%;
}

QPushButton:hover {
    background-color: %theme_button_hover%;
}

QPushButton:pressed {
    background-color: %theme_button_pressed%;
}

QPushButton:flat {
    border: none; /* no border for a flat push button */
}


QPushButton#CloseTabButton {
	border: 0px solid transparent;
	border-radius: 0px;
	background-color: transparent;
	padding:0px;
	margin: 0px;
	spacing: 0px;
}

QPushButton#CloseTabButton:hover {
    margin-top: -2px; /*animate the button*/
    margin-left: -2px;
}

QPushButton#CloseTabButton:pressed {
    margin-top: 2px;
    margin-left: 2px;
}

QPushButton#MediaPrev {
    border: 1px solid %theme_very_dark%;
    border-radius: 2px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /*background-image: url(%IMAGE%mpmedia_prev.png);*/
    background-repeat: no-repeat;
    background-position: center;
}

QPushButton#MediaNext {
    border: 1px solid %theme_very_dark%;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /*background-image: url(%IMAGE%mpmedia_prev.png);*/
    background-repeat: no-repeat;
    background-position: center;
}