

{% for song in playlist %}

        <div id="plelem_{{loop.index}}"
             draggable="true"
             ondragstart="pl_drag(event)"
             ondrop="pl_drop(event)"
             ondragover="pl_allowDrop(event)">
            <!--{{loop.index}}.-->
            <!--{% if song.current %}
            <b>
            {% endif %}-->
            {{ song.artist }} -- {{ song.title }}

            <!--{% if song.current %}
            </b>
            {% endif %}-->

            <button style="float:right">X</button>
            <button style="float:right">&gt;&gt;</button>

        </div>

{% endfor %}
