<!doctype html>
<head>
  <title>Yue Player</title>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/res/css/player.css">
  <script src="/res/js/player.js"></script>

  <script>

  var idx_drag_start=-1;
  var idx_drag_hover=-1;
  function pl_allowDrop(ev) {
    var id = "" + ev.target.id;
    if (id.startsWith("plelem")) {
      idx_drag_hover=ev.target.id;
      ev.preventDefault();
    }
  }

  function pl_drag(ev) {
    idx_drag_start=ev.target.id;
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function pl_drop(ev) {
    ev.preventDefault();
    var idx_drag_end = ev.target.id

    var id1 = idx_drag_start.split("_")[1]
    var id2 = (""+idx_drag_hover).split("_")[1]
    var id3 = (""+idx_drag_end).split("_")[1]

    console.log( "1:" + id1 + "> 2:" + id2+"> 3:" + id3+">");
    if (id2=="") {
      console.log("drop has no target");
      return false;
    }

    if (id1==id2) {
      console.log("drop target is source");
      return false;
    }

    console.log("drop success");
  }
  </script>
  <style>
    [id^=plelem] {
      border: 1px solid #aaaaaa;
      padding: 5px;
    }
  </style>
</head>

<body>

<div id="div_page">
  <div style="width: 40%; margin: 0 auto;">
  <div id="info_artist">{{ audio.artist }} </div>
  <div id="info_title">{{ audio.title }} </div>
  <div id="info_album">{{ audio.album }} </div>
  <!--<div id="info_index">{{ audio.index }} / {{ audio.length }} </div>-->
  </div>

  <br>

  <!--  controls="controls" -->

  <audio id="audio_player"
         src="{{ audio.source }}"
         type="{{ audio.type }}"
         onended="mediaEnded()"
         onplay="mediaPlay()"
         onpause="mediaPause()">
  </audio>
  <br>

  <div id="player" style="width: 80%; margin: 0 auto; text-align: center;">
    <button type="button" id="btn_media_prev">Prev</button>
    <div class="container" id="btn_playpause" onclick="togglePlayButton(this)">
      <div class="pbar1"></div>
      <div class="pbar2"></div>
    </div>
    <button type="button" id="btn_media_next">Next</button>
    <br>
    <br>
    <div id="progressbar" style="margin: 0 auto;"></div><br>
    <div id="timeinfo"></div><br>
    <div id="volume" style="margin: 0 auto;"></div><br>
  </div>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Playlist')" id="defaultOpen">Playlist</button>
    <button class="tablinks" onclick="openTab(event, 'Library')">Library</button>
  </div>

  <div id="Playlist" class="tabcontent">
    <h3>Playlist</h3>
    <div id="playlist_data">
    <p>Playlist data</p>
    </div>
  </div>

  <div id="Library" class="tabcontent">
    <h3>Library</h3>
    <p>Library data</p>
  </div>
</div>

</body>