

{% for song in playlist %}

    <div id="plelem_{{loop.index}}"
         draggable="true"
         ondragstart="pl_drag(event)"
         ondrop="pl_drop(event)"
         ondragover="pl_allowDrop(event)">
        <!--{{loop.index}}.-->
        <!--{% if song.current %}
        <b>
        {% endif %}-->
        {{ song.artist }} -- {{ song.title }}

        <!--{% if song.current %}
        </b>
        {% endif %}-->

        {% if not (song.current) %}
        <button style="float:right" onclick="pl_delete({{loop.index}})">X</button>
        <button style="float:right" onclick="pl_play_index({{loop.index}})">&gt;&gt;</button>
        {% endif %}

    </div>

{% endfor %}
